.gridContainer {
    border:  black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    
}

.gridElement {
    display: flex;
    border: solid black;
    padding-bottom: 3%;
    border-width: 1px;
    width: 3%;
    height: 3%;
    
}

.gridRow {
    display: flex;
}

.color {
    background-color: aqua;
}